form{
    margin-top: 20px;
    position: absolute;
    width: 400px;
    height: 75%;
    margin-left: calc(50% - 200px);

    background: rgba(0, 0, 0, 0.23);
    border-radius: 16px;
    box-shadow: 0 0 40px red;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid red;

    animation: animate 5s ease infinite alternate;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

#error{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
    margin: 10px 0;
}

#error img{
    width: 40px;
    filter: invert(100%) sepia(5%) saturate(7500%) hue-rotate(326deg) brightness(96%) contrast(100%);
}

.error{
    color: #ff0000;
    background-color: rgb(255, 207, 207);
    padding: 2px 9px;
    margin-bottom: 20px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.error img{
    width:20px;
    filter: invert(15%) sepia(75%) saturate(7500%) hue-rotate(360deg) brightness(105%) contrast(116%);
    margin-right: 4px;
}

form h2{
    color: #00f7ff;
    font-weight: 500;
    font-size: 25pt;
    text-align: center;
    letter-spacing: 0.1rem;
    animation: animateClr 2s ease infinite alternate;
    position: absolute;
    top: 30px;

}

.input-box{
    width: 90%;
    position: relative;
    /* background-color: red; */
    /* height: 100px; */
}

.input-box input{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 1em;
    letter-spacing: 0.05em;
    border-bottom: 2px solid aqua;
    /* background-color: #00f7ff91; */
    margin-top: 10px;
    /* transition: .5s; */
}

.input-box .caption{
    position: absolute;
    left: 0;
    top: 40px;
    transition: .5s;
    color: rgba(240, 248, 255, 0.616);
}

.input-box input:focus ~ .caption{top: 9px;}


.input-box input:focus{
    background-color: rgba(0, 0, 0, 0.598);
}

.links{
    margin: 10px 0;
}

.links a{
    color: white;
    transition: color .3s;
}

.links a:hover{
    color: gray;
}

input[type="submit"]{
    color: white;
    font-size: 14pt;
    width: 100px;
    height: 30px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.527);

    animation: animate 5s ease infinite alternate;
    transition: transform .2s ease;
    cursor: pointer;
}

input[type="submit"]:hover{
    transform: scale(1.1);
}

@keyframes animate {

    25%{
        border-color:rgb(255, 234, 0);
        box-shadow: 0 4px 30px rgb(255, 234, 0);
    }

    50%{
        border-color:rgb(13, 255, 0);
        box-shadow: 0 4px 30px rgb(13, 255, 0);
    }

    75%{
        border-color:rgb(0, 119, 255);
        box-shadow: 0 4px 30px rgb(0, 119, 255);
    }

    100%{
        border-color:rgb(255, 0, 255);
        box-shadow: 0 4px 30px rgb(255, 0, 255);
    }
}

@keyframes animateClr {
    100%{
        color:rgb(0, 119, 255);
    }
}


@media (max-width: 600px) {
    form{
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}