*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-

}

body{
    background: url(../../images/background.png) fixed no-repeat;
    background-size: cover;
    background-color: black;
    width: 100%;
    overflow-x: hidden; 
    position: relative;  
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}


nav{
    
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 1000;

}

#pages{
    list-style: none;
    position: relative;
}

#pages li, .menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#pages.active li{
    top: calc(50px * var(--i));
}

.menu{
    /* transform: rotate(45deg); */
    /* top:-2px;
    left: 0px; */
    z-index: 1000;
    /* height: 45px;
    width: 45px;
    box-shadow: 0 0 50px white;
    background-color: #00ff00; */
}


.menu.active{transform: rotate(calc(-90deg * 3));}


#pages li:hover img, .menu:hover img{filter: invert(37%) sepia(100%) saturate(6854%) hue-rotate(272deg) brightness(102%) contrast(104%);}

.menu.active:hover img{filter: invert(10%) sepia(91%) saturate(6397%) hue-rotate(350deg) brightness(105%) contrast(109%);}


.link-icon{width: 30px;}

.icon{width: 20px;}


.up {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,.186);
    border-radius: 50%;
    filter: invert(96%) sepia(4%) saturate(419%) hue-rotate(135deg) brightness(115%) contrast(100%);
    color: #999;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    z-index: 10;
    line-height: 1.4;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transition: all .2s;
    right: 10px;
    right: -ms-calc(-594.5%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    visibility: hidden;
    opacity: 0;
}

.up.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 1001;
}

.up:hover{
    cursor: pointer;
    filter: invert(22%) sepia(61%) saturate(3000%) hue-rotate(257deg) brightness(77%) contrast(103%);
}

main{
    position: relative;
    min-height: 100vh;
    margin-bottom: 100px;
}

footer{
    color: white;
    background-color: #242529;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#social{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

#social li a img{
    filter: invert(96%) sepia(4%) saturate(419%) hue-rotate(135deg) brightness(115%) contrast(100%);
    width: 40px;
}
#social li a img:hover{
    filter: invert(22%) sepia(61%) saturate(3000%) hue-rotate(257deg) brightness(77%) contrast(103%);
}

footer p a{
    color: #a620ff;
    text-decoration: none;
    
}

footer p span{color: red;}

footer p a:hover{
    color: #5f23a5;
    text-decoration: underline; 
    font-size: large;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: rgb(175, 175, 175);
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(73,83,245), rgb(161,38,254));
}

@media (max-width : 891px) {
    footer{
        width: 90%;
    }
}

@media (max-width : 600px) {
    footer{
        width: 80%;
    }
}